/* Base styling for the navigation bar */
.navbar {
  background-color: #2196f3;
  display: flex;
  padding: 10px;
}

.navbar > div {
  display: flex;
  flex-grow: 1;
  justify-content: left;
  align-items: center;
  /* padding: 10px; */
}

/* Style for navigation links */
.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
}

/* Style for home button */
.home-button {
  font-weight: bold;
  font-size: large;
}

/* Menu icon */
.menu-icon {
  display: block;
  cursor: pointer;
}

/* Responsive navigation menu (display as a vertical menu on screens less than 500px wide) */
@media screen and (max-width: 500px) {
  .hidden {
    display: none;
  }
}
